<div class="register-container">
  <form class="register-form" [formGroup]="form" (ngSubmit)="register()">
    <h1>Create Account</h1>

    <!-- Username -->
    <div >
      <label for="username">Username</label>
      <div class="mb-3">
        <input id="username" type="text" class="form-control" placeholder="Enter your username" formControlName="username"/>
      </div>
    </div>

    <div>
      <label for="email">Email</label>
      <div class="mb-3">
        <input id="email" type="email" class="form-control" placeholder="Enter your email" formControlName="email"/>
      </div>
    </div>


    <!-- Password -->
    <div >
      <label for="password">Password</label>
      <div class="mb-3">
        <input id="password" type="password" class="form-control" placeholder="Enter your password" formControlName="password"/>
      </div>
    </div>

    <!-- DNI -->
    <div>
      <label for="dni">DNI</label>
      <div class="mb-3">
        <input id="dni" type="text" class="form-control" placeholder="Enter your DNI" formControlName="dni"/>
      </div>
    </div>

    <!-- Age -->
    <div>
      <label for="age">Age</label>
      <div class="mb-3">
        <input id="age" type="number" class="form-control" placeholder="Enter your age" formControlName="age"/>
      </div>
    </div>

    <!-- Submit -->
    <div style="width: 100%; justify-content: center; display: flex;">
      <button type="submit" class="submit-button">Register</button>
    </div>


    <p class="form-footer">Already have an account? <span class="link" (click)="goLogin()">Sign In</span></p>
  </form>
</div>