@import "primeicons/primeicons.css";

html, body { height: 100%; }
body { margin: 0; width: 100%; height: 100%;font-family: Roboto, "Helvetica Neue", sans-serif; box-sizing: border-box;  color: black;
background-color: rgb(10, 75, 10) !important}